{{! -*- mode: web; web-mode-markup-indent-offset: 2 -*- }}
<div>
  <h2>Explanation of report</h2>
  <p>
    This report lists all enrollments for external users, one enrollment per
    line. A user will have multiple lines if they are enrolled in multiple
    courses. If a user is not enrolled in any course then they will have one line
    showing "[no-course]" as a course.
    The <b>course start</b> value is the same for all in the same course. <b>Enroll start</b> and <b>enroll end</b> are
    specific to that user for that course. A blank for <b>enroll end</b> means that no end date is set. <b>Latest access</b> is
    the most recent date that the user accessed the course.
  </p>
  <p>
    You can click on column headers to sort by its values. Click again to reverse the sort. The <i>Search</i> box
    allows you to filter the displayed data.
  </p>
  <p>
    To make room for the report you may wish to hide the blocks on the side by clicking the little "<" icon in each.
</div>
